body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000;
}



.table {
	display: flex;
	flex-direction: row;
	justify-content: center;
    font-size: 17px;
    width: 60%;
    table-layout: fixed;
    /*border-collapse: collapse;*/
    overflow-x: auto;
    border: 2px solid #c3e0e5;
    background-color: #333333;
    /*margin-bottom: 50px;*/
    border-radius: 10px;
}

.table tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 500px;
}

.table thead tr {
    display: block;
}

.table thead {
    background-color: black;
    color: white;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    width: 200px;  
}

.table td {
    color: #c3e0e5;
    border-bottom: 1px solid #000000;
}


/* ============================================================= */
.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
	text-align: center;
	background: #000;
	padding: 10px 0 15px;
	border: 1px solid #c3e0e5;
	border-radius: 5px;
	
	transition: all .3s ease;
}

ul a {
	cursor: pointer;
    text-decoration: none;
	color: #c3e0e5;
	display: block;
	padding: 10px 30px;
	font-size: 20px;
	text-transform: capitalize;
	transition: all .5s ease;
}


ul a:hover {
	background: #c3e0e5;
	color: #333;
}
